:root{
  --bgColor: azure;
  --borderColor: cadetblue;
}

p{
  margin: 0rem;
  padding: 1rem 0rem;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;      
}
.center {
  justify-content: center;
}
.smallPadding {
  padding: 0rem .5rem;
}
.smallMg {
  margin: .5rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; 
  width: 80%;
}

.title {
  flex-basis: 100%;  
  text-align: left;
}
.description {
  flex-basis: 75%;  
  text-align: justify;
  flex-grow: 0;
}
.votesContainer {
  display: flex;
  flex-basis: 3%; 
  justify-content: center;
  flex-grow: 0;
  padding: 1rem 3rem;
  height: 5rem;
  
}
.votes {     
  text-align: center;
  cursor: pointer;
  background-color: var(--bgColor);
  border: 2px solid var(--borderColor);
  height: 2rem;
  width: 2rem;
}
